.card {
width: 250px;    
height: 300px;
background: goldenrod;
margin-left: 50px;
margin-top: 50px;
padding: 50px;
text-align: center;
border: 10px ridge yellowgreen;

}

#tf{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card p{
    text-align: center;
    color: firebrick;
    font-size: xx-large;
}
.card > button {
    background-color: blue;
    color: beige;
    cursor: pointer;
    padding: 5px;
    outline: none;
    border: none;
}